@model List<ASA_FlightFinder.Models.FlightModel>

@using System.Web.Helpers


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () { updateSortArrows(); });

    // When the user selects on some column, show the up/down arrow
    // in that column. We do a little bit of fiddling so that the
    // column widths do not change when a column becomes the
    // sort column, or stops being the sort column.
    function updateSortArrows() {
        var dir = $("#sortdir").val(); //console.log("Dir = " + dir);
        var col = $("#sortcol").val(); //console.log("Col = " + col);

        // Put the appropriate arrow on the appropriate column.
        var sortHeader = $('th a[href*=' + col + ']');
        if (dir == "Ascending") {
            sortHeader.html(sortHeader.html() + "<span> \u25b2</span>");
        }
        else if (dir == "Descending") {
            sortHeader.html(sortHeader.html() + "<span> \u25bc</span>");
        }
        // For all of the other sortable headers, put an invisible arrow,
        // just to keep the header widths constant.
        var nonSortHeaders = $('th a:not([href*=' + col + '])');
        $(nonSortHeaders).each(function () {
            $(this).html($(this).html() + "<span style='opacity:0'> \u25b2</span>")
        });
    }

</script>

@{
    ViewData["Title"] = "Available Flights";
}

<h3>Flights from @ViewData["FromAirport"] to @ViewData["ToAirport"]</h3>
<p>There are @ViewData["FlightCount"] available flights</p>
@{
    var flightGrid = new WebGrid(
            source: Model, canPage: true, canSort:true, rowsPerPage: 7,
            defaultSort:"DepartureTime",
            ajaxUpdateContainerId:"flightGrid", ajaxUpdateCallback:"updateSortArrows"
            );
}
<style type="text/css">
    .flight-row {
        padding: 5px;
    }
    #flightGrid th a[href*='sortdir'] {
        color: black;
    }
    
</style>

<div id="flightGrid">
    @flightGrid.GetHtml(
        tableStyle: "table table-responsive backcolor",
        rowStyle:"flight-row",
        headerStyle:"webgrid-header",
        columns:flightGrid.Columns(
            flightGrid.Column(header: "Flight #", columnName: "FlightNumber", canSort: false),
            flightGrid.Column(header: "Leaves at", columnName:"DepartureTime", 
                    format:@<text>@item.DepartureTime.ToString("MMM d, h:mm tt")</text>, canSort: true),
            flightGrid.Column(header: "Arrives at", columnName:"ArrivalTime", 
                    format:@<text>@item.ArrivalTime.ToString("h:mm tt")</text>, canSort: false),
            flightGrid.Column(header: "Price (main cabin)", columnName: "MainCabinPrice",
                    format:@<text>@String.Format("{0:C2}", item.MainCabinPrice)</text>, canSort: true),
            flightGrid.Column(header: "Price (1st class)", columnName: "FirstClassPrice",
                    format:@<text>@String.Format("{0:C2}", item.FirstClassPrice)</text>, canSort: true)
            )
        )
    @Html.Hidden("sortdir", flightGrid.SortDirection)
    @Html.Hidden("sortcol", flightGrid.SortColumn)
</div>
